on:
  push:
    branches:
      - main
  merge_group:
  pull_request:

name: pytest

permissions:
  contents: read

concurrency:
  group: ${{ github.ref }}_${{ github.workflow }}
  cancel-in-progress: true
jobs:
  py-check:
    runs-on: ${{ matrix.config.os }}
    name: ${{ matrix.config.os }} (${{ matrix.config.py }})
    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: ubuntu-22.04, py: '3.12'}
    env:
      OS: ${{ matrix.config.os }}
      PYTHON: ${{ matrix.config.py }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.config.py }}
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install -r branch/requirements.txt
          python -m pip install -r branch/dev-requirements.txt
      - name: run pytest
        run: |
          pytest
